*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 4.5rem;
}

.header-container{
    max-width: 1600px;
    padding-left: 3.375rem;
    padding-right: 3.375rem;
}

.collection-list .list-items{
    list-style: none;
}

.list-items a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

.input-group>.search-input.form-control{
    width: 10.5rem;
}
